*{
  font-family: 'Alegreya', serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --primary-clr:rgb(24, 24, 26, .9);
  --secondary-clr:rgb(245, 242, 242, .9);
  --tertiary-clr:rgb(24, 24, 26, .7);
  --fourth-clr:rgb(112, 128, 144, .9);
  --fifth-clr: rgb(255, 255, 255, .7);

  --font-sz-reg: 3vw;
  --font-sz-75: calc(var(--font-sz-reg)* .75);
  --font-sz-50: calc(var(--font-sz-reg)* .5);
  --font-sz-125: calc(var(--font-sz-reg)* 1.25);
  --font-sz-150: calc(var(--font-sz-reg)* 1.5);

  --mar-pad-reg: .5rem;
  --mar-pad-sm: calc(var(--mar-pad-reg)*.75);
  --mar-pad-xs: calc(var(--mar-pad-reg)*.5);
  --mar-pad-lg: calc(var(--mar-pad-reg)*1.25);
  --mar-pad-xl: calc(var(--mar-pad-reg)*1.5);

  --bdr-rg: .1rem;
  --bdr-sm: calc(var(--bdr-rg) * .75);
  --bdr-lg: calc(var(--bdr-rg)*1.25);
}

.activeProject > a {
  display: inline-block;
  transition: 1s;
  width: 60%;
}

.activeProject > a:hover,
.activeProject > a:focus {
  outline: none;
  background-color: var(--primary-clr);
  opacity: .5;
  cursor: pointer;
  z-index:1;
  border-radius: 1rem;
}

#aboutMe {
  margin: var(--mar-pad-xl);
  color: var(--secondary-clr);
  background-color: var(--primary-clr);
  font-size: var(--font-sz-reg);
  transition: 1s;
  padding: .5vw;
  width: 90%;
}

.activeProject {
  margin-top: calc(var(--mar-pad-xl) * 3);
  margin-bottom: calc(var(--mar-pad-xl) * 3);
  padding: var(--mar-pad-sm);
  width: 80%;
  scroll-snap-align: center;
  place-content: center;
  background-color: var(--tertiary-clr);
  border-radius: var(--mar-pad-xs);
  height:100vh;
}

.activeProject.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height:100vh;
}

.activeProject h1, 
.activeProject h2,
.activeProject p,
.activeProject ul,
.activeProject #list {
  margin: var(--mar-pad-xl);
  color: var(--primary-clr);

}

/* .activeProject:nth-of-type(2n) {
  background-color: var(--fifth-clr);
} */

/* .activeProject:nth-of-type(2n) .projImg {
  border: ridge var(--secondary-clr) .5vw;
  box-shadow: 
  .5rem .5rem .5rem var(--primary-clr), 
  .5rem -.5rem .5rem var(--primary-clr),
  -.5rem .5rem .5rem var(--primary-clr),
  -.5rem -.5rem .5rem var(--primary-clr);
}

.activeProject:nth-of-type(2n) h1, 
.activeProject:nth-of-type(2n) h2,
.activeProject:nth-of-type(2n) p,
.activeProject:nth-of-type(2n) ul {
  background-color: var(--primary-clr);
  color: var(--secondary-clr);
} */

/* .activeProject:nth-of-type(2n) p,
.activeProject:nth-of-type(2n) ul {
  background-color: rgba(255, 255, 255, 0.7);
  border-color: var(--secondary-clr);
  color:var(--primary-clr);
  text-shadow: .1vmax 0 var(--fifth-clr), 0 .1vmax var(--fifth-clr), -.1vmax 0 var(--fifth-clr), 0 -.1vmax var(--fifth-clr);
} */

/* .activeProject:nth-of-type(2n) a:hover,
.activeProject:nth-of-type(2n) a:focus,
.activeProject:nth-of-type(2n) .projImg:focus,
.activeProject:nth-of-type(2n) .projImg:focus {
  background-color: var(--primary-clr);
  opacity: .5;
  cursor: pointer;
  z-index:1;
} */

#bigLogo {
  width: 90%;
  background-color: var(--primary-clr);
}

body {
  width: 100%;
  background-repeat: no-repeat;  
  text-align: center;
  background-image: linear-gradient(
    rgba(0,0,0,.4),
    rgba(0,0,0,.4)
  ),
   url('./assests/nordicpeak.jpg');
  background-size: cover;
}

.trialDiv > button {
  width: 30%; 
  color: var(--primary-clr);
  background-color: var(--secondary-clr);
}

#contact {
  background-color: var(--fourth-clr);
  padding: var(--mar-pad-lg);
  width: 100%;
  text-align: left;
  letter-spacing: .1rem;
  font-size: var(--font-sz-125);
}

.contactLabel {
  text-decoration: underline;
  font-size: var(--font-sz-150);
  margin-bottom: var(--mar-pad-xl);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height:100vh;
}

form {
  font-size: var(--font-sz-reg);
}

h1 {
  color: var(--primary-clr);
  background-color: var(--secondary-clr);
  padding: var(--mar-pad-xl);
  font-size: var(--font-sz-125);
}

h2 {
  font-size: var(--font-sz-reg);
  width: 50%;
  text-align: left;
  padding-left: var(--mar-pad-reg);
}
 
img { 
  display: inline-block;
  width: 100%;
} 

input,
textarea {
  transition: all 1s ease-out;
  font-size: var(--font-sz-reg);
  padding: var(--mar-pad-reg);
}

#list {
  background-color: var(--secondary-clr);
}

li {
  list-style-type: none;
  font-size: var(--font-sz-75);
  margin-bottom: var(--mar-pad-reg);
}

textarea:hover,
textarea:focus,
input:hover,
input:focus {
  cursor:pointer;
  outline:none;
  background-color: var(--primary-clr);
  color:var(--secondary-clr);
  transition: all 1s ease-in-out;
}

nav {
  display: flex;
  flex-direction: row;
  position: fixed;
  background-color: var(--tertiary-clr);
}

nav > a,
nav > #dropwdown {
  margin: var(--mar-pad-reg);
  font-size: var(--font-sz-reg);
  color: var(--secondary-clr);
}

nav > a {
  font-size: var(--font-sz-reg);
  color: var(--secondary-clr);
  text-decoration: none;
}

nav > a:hover {
  background-color: var(--fourth-clr);
}

#dropdown {
  position: relative;
  display: inline-block;
  padding: var(--mar-pad-reg);
}

#dropdownBtn {
  color: var(--secondary-clr);  
  border: none;
  font-size: var(--font-sz-reg);
}

#dropdownLinks {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

#dropdownLinks a {
  color: black;
  padding: var(--mar-pad-reg);
  text-decoration: none;
  display: block;
}

#dropdownLinks a:hover {background-color: #ddd;}

#dropdown:hover #dropdownLinks {display: block;}

#dropdown:hover #dropdownBtn {background-color: var(--fourth-clr);}


p {
  color: var(--secondary-clr);
  padding: var(--mar-pad-xs);
  background-color: var(--secondary-clr);
  font-size: var(--font-sz-reg);
}

.projectButton {
  border-radius: 1rem;
  transition: 1s;
  font-size: var(--font-sz-reg);
}

.projectButton:hover,
.projectButton:focus {
  cursor:pointer;
  outline:none;
  color:var(--secondary-clr);
  background-color: var(--primary-clr);
  box-shadow: 
  .5rem .5rem .5rem var(--secondary-clr), 
  .5rem -.5rem .5rem var(--secondary-clr),
  -.5rem .5rem .5rem var(--secondary-clr),
  -.5rem -.5rem .5rem var(--secondary-clr);
}

.projImg {
  opacity: 1;
  height: auto;
  width: 100%;
  border: solid var(--primary-clr) .5vw;
}

.projectList {
  color: var(--primary-clr);
  height: 10vh;
}

.resume {
  color: var(--primary-clr);
  font-size: var(--font-sz-150);
  background:var(--secondary-clr);
  padding: var(--mar-pad-xl);
  margin-bottom: var(--mar-pad-reg);
}

.resume:hover,
.resumer:focus {
  outline: none;
  opacity: 1;
  color: var(--secondary-clr);
  background-color: var(--primary-clr);
  cursor: pointer;
  box-shadow: 
  .5rem .5rem .5rem var(--secondary-clr), 
  .5rem -.5rem .5rem var(--secondary-clr),
  -.5rem .5rem .5rem var(--secondary-clr),
  -.5rem -.5rem .5rem var(--secondary-clr);
}

#standard {
  opacity: 0;
    transition: all .1s ease;
    transform: translateY(50px);
    display: inline-block;
}

span.fade {
  opacity: 1;
  transform: translateY(0px);
  color: blue;
}

.trialDiv {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.trialDiv > section {
  scroll-snap-align: start;
  width:90%;
  height: 100vh;
}

ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0;
}

@media only screen and (min-width: 1100px) {
  :root {
    --font-sz-reg: 1.5vw;
  }

  .activeProject {
    width: 60%;
  }

  #bigLogo {
    width: 60%;
  }

  .projImg {
    opacity: 1;
    height: auto;
    width: 50%;
    border: ridge var(--primary-clr) .5vw;
    margin: var(--mar-pad-xl);
    /* box-shadow: 
    .5rem .5rem .5rem var(--secondary-clr), 
    .5rem -.5rem .5rem var(--secondary-clr),
    -.5rem .5rem .5rem var(--secondary-clr),
    -.5rem -.5rem .5rem var(--secondary-clr); */
  }

  /* .trialDiv > section {
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  place-items: center;
  height: 100vh;
} */


}