*{
  font-family: 'Alegreya', serif;
  box-sizing: border-box;
}

:root {
  --primary-clr:black;
  --secondary-clr:rgb(255, 255, 255);
  --tertiary-clr:rgb(78, 77, 77);
  --fourth-clr:rgb(184, 212, 221);
  --fifth-clr:var(--fifth-clr)smoke;

  --font-sz-reg: .5rem;
  --font-sz-75: calc(var(--font-sz-reg)* .75);
  --font-sz-50: calc(var(--font-sz-reg)* .5);
  --font-sz-125: calc(var(--font-sz-reg)* 1.25);
  --font-sz-15: calc(var(--font-sz-reg)* 1.5);

  --mar-pad-reg: .5rem;
  --mar-pad-sm: calc(var(--mar-pad-reg)*.75);
  --mar-pad-xs: calc(var(--mar-pad-reg)*.5);
  --mar-pad-lg: calc(var(--mar-pad-reg)*1.25);
  --mar-pad-xl: calc(var(--mar-pad-reg)*1.5);

  --bdr-rg: .1rem;
  --bdr-sm: calc(var(--bdr-rg) * .75);
  --bdr-lg: calc(var(--bdr-rg)*1.25);
}

a {
  display: inline-block;
  transition: 1s;
}

a:hover,
a:focus {
  outline: none;
  background-color: var(--primary-clr);
  opacity: .5;
  cursor: pointer;
  z-index:1;
  border-radius: 1rem;
}

#aboutMe {
  margin: var(--mar-pad-xl);
  color: var(--secondary-clr);
  background-color: var(--primary-clr);
  transition: 1s;
  padding: .5vw;
  width: 90%;
  box-shadow: 
  .5rem .5rem .5rem var(--secondary-clr), 
  .5rem -.5rem .5rem var(--secondary-clr),
  -.5rem .5rem .5rem var(--secondary-clr),
  -.5rem -.5rem .5rem var(--secondary-clr);
}

.activeProject {
  height: 100vh;
  color: var(--fifth-clr);
  scroll-snap-align: start;
  place-content: center;
}

.activeProject:nth-of-type(2n) h1 {
  background-color: var(--primary-clr);
  color: var(--secondary-clr);
}

.activeProject:nth-of-type(2n) p {
  background-color: rgba(255, 255, 255, 0.7);
  border-color: var(--secondary-clr);
  color:var(--primary-clr);
  text-shadow: .1vmax 0 var(--fifth-clr), 0 .1vmax var(--fifth-clr), -.1vmax 0 var(--fifth-clr), 0 -.1vmax var(--fifth-clr);
}

.activeProject:nth-of-type(2n) a:hover,
.activeProject:nth-of-type(2n) a:focus {
  background-color: var(--secondary-clr);
  opacity: .5;
  cursor: pointer;
  z-index:1;
  border-radius: 1rem;
}

address {
  height:10vh;
  width:25vw;
  font-size: 1vw;
}

#articleLink {
  color:var(--primary-clr);
}

#articleLink:hover {
  color:var(--tertiary-clr);
}

#bigLogo {
  width: 90%;
}

body {
  width: 100%;
  height:100%;
  background-repeat: no-repeat;
  padding: var(--mar-pad-reg);
  text-align: center;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(
    rgba(0,0,0,0.4),
    rgba(0,0,0,0)
  ),
   url('./assests/nordicpeak.jpg');
  background-size: cover;
  place-items: center;
}

button {
  height: 7vh;
  width: 12vw; 
  color: var(--primary-clr);
  background-color: var(--secondary-clr);
}

#contact {
  background-color: slategray;
  padding: var(--mar-pad-lg);
  border-radius: .5rem;
  width: 100%;
  text-align: left;
  letter-spacing: .1rem;
  transition:1s;
}

.contactLabel {
  text-decoration: underline;
  margin-bottom: var(--mar-pad-xl);
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  
  height: 100vh;
}

#dropdown-item-button {
  width: 50%;
  height: 3rem;
  font-size: 2rem;
  padding: var(--mar-pad-rg);
  border-radius: var(--mar-pad-xl);
  background-color: var(--secondary-clr);
  color: var(--primary-clr);
  transition: 1s;
}

#dropdown-item-button:hover,
#dropdown-item-button:focus {
  outline: none;
  color: var(--secondary-clr);
  background-color: var(--primary-clr);
  cursor: pointer;
  box-shadow: 
  .5rem .5rem .5rem var(--secondary-clr), 
  .5rem -.5rem .5rem var(--secondary-clr),
  -.5rem .5rem .5rem var(--secondary-clr),
  -.5rem -.5rem .5rem var(--secondary-clr);
}

#footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100vw;
  position: relative;
  z-index: 5;
  padding: var(--mar-pad-lg);
}

h1 {
  color: var(--primary-clr);
  text-decoration: underline;
  background-color: var(--secondary-clr);
  padding: var(--mar-pad-xl);
  border-radius: 3rem;
  animation-name: rotate;
  animation-duration: 2s;
  animation-delay: 5s;
}

#headshot {
  height:auto;
  width:80%;
  text-align: right;
  border-bottom: ridge .6vmax #f0f0f0;
  border-right: ridge .6vmax #f0f0f0;
  border-top: ridge .6vmax #f0f0f0;
  border-left: ridge .6vmax #f0f0f0;
}

#headshot:hover {
  border-bottom: ridge .6vmax #f0f0f0;
  border-right: ridge .6vmax #f0f0f0;
  border-top: ridge .6vmax #f0f0f0;
  border-left: ridge .6vmax #f0f0f0;
}
 
img { 
  display: inline-block;
  width: 100%;
} 

textarea:hover,
textarea:focus,
input:hover,
input:focus {
  cursor:pointer;
  outline:none;
  background-color: var(--primary-clr);
  color:var(--secondary-clr);
}

p {
  font-size: 3vw;
  color: var(--secondary-clr);
  text-shadow: .1vmax 0 var(--primary-clr), 0 .1vmax var(--primary-clr), -.1vmax 0 var(--primary-clr), 0 -.1vmax var(--primary-clr);
  margin: 1vmax;
  padding:1vmax;
  border: solid .2vmax var(--primary-clr);
  border-radius: 3vmax;
  background-color: rgba(0, 0, 0, .7);
  white-space: pre-wrap;
}

.projectButton {
  width: 16vw;
  border-radius: 2rem;
  border: solid .5rem var(--secondary-clr);
  transition: 1s;
}

.projectButton:hover,
.projectButton:focus {
  cursor:pointer;
  outline:none;
  color:var(--secondary-clr);
  background-color: var(--primary-clr);
}

.projImg {
  opacity: 1;
  height: auto;
  width: 80%;
  border: ridge var(--primary-clr) .5vw;
  margin: var(--mar-pad-xl);
  box-shadow: 
  .5rem .5rem .5rem var(--secondary-clr), 
  .5rem -.5rem .5rem var(--secondary-clr),
  -.5rem .5rem .5rem var(--secondary-clr),
  -.5rem -.5rem .5rem var(--secondary-clr);
}

.projectList {
  color: var(--primary-clr);
  height: 10vh;
}

.resume {
  color: var(--primary-clr);
  font-size: 1.5rem;
  background:var(--secondary-clr);
  padding: var(--mar-pad-lg);
  margin-bottom: var(--mar-pad-reg);
  border-radius: 1rem;
}

.resume:hover,
.resumer:focus {
  outline: none;
  opacity: 1;
  color: var(--secondary-clr);
  background-color: var(--primary-clr);
  cursor: pointer;
  box-shadow: 
  .5rem .5rem .5rem var(--secondary-clr), 
  .5rem -.5rem .5rem var(--secondary-clr),
  -.5rem .5rem .5rem var(--secondary-clr),
  -.5rem -.5rem .5rem var(--secondary-clr);
}

section{
  width:85%;
  place-items: center;
}

.socialMedia {
  height: 8vh;
  width: 15vw;
  margin: var(--mar-pad-xs);
  padding: 0rem;
  border-radius: 2vmax;
  border: solid .5vmax var(--secondary-clr);
  background-color: var(--secondary-clr);
}

#standard {
  opacity: 0;
    transition: all .1s ease;
    transform: translateY(50px);
    display: inline-block;
}

span.fade {
  opacity: 1;
  transform: translateY(0px);
  color: blue;
}

.trialDiv {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
  place-content: center;
}

.trialDiv > section {
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  place-items: center;
  height: 100vh;
}

@keyframes rotate {
  0% {transform: rotate(0deg); width: 0%;}
  100% {transform: rotate(360deg); width: 100%;}
}
